body {
  font-family: 'Bitter', sans-serif;
}

.container {
  padding-top: 50px;
}

.center {
  text-align: center;
}

#canvas-video {
  margin: auto;
  width: 1920px;
  height: 1080px;
  border: 1px solid #ccc;
}

#result-img {
  display: block;
  margin: auto;
}

#control-panel {
  margin: auto;
}

button {
  position: relative;
  bottom: 150px;

  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 25px;

  border: 15px solid #FC1D42;
  border-radius: 100px;
  background-color: white;

  font-size: 36px;
  color: #FC1D42;
}

button:disabled {
  opacity: 0.2;
}

/*
#start {
  background-image: url(icons/reload.png);
}

#picture {
  background-image: url(icons/photo-camera.png);
}

#video {
  background-image: url(icons/video-camera.png);
}

#icon-credit {
  position: absolute;
  bottom: 0px;
  margin: 0 0 10px 10px;
}*/
