body {
  font-family: 'Bitter', sans-serif;
}

.container {
  padding-top: 50px;
}

.center {
  text-align: center;
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

#loading {
  width: 1920px;
  height: 1080px;
}

#loading img {
  height: 20%;
  position: relative;
  top: 30%;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#canvas-video {
  margin: auto;
  width: 1920px;
  height: 1080px;
  border: 1px solid #ccc;
}

#result-img {
  display: block;
  margin: auto;
  width: 1280px;
  height: 720px;
}

#control-panel {
  margin: auto;
}

button {
  position: relative;
  bottom: 150px;

  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 25px;

  border: 15px solid #FC1D42;
  border-radius: 100px;
  background-color: white;

  font-size: 36px;
  color: #FC1D42;
}

button:disabled {
  opacity: 0.2;
}
