.container {
  padding-top: 50px;
}

.center {
  text-align: center;
}

#canvas-video {
  width: 1280;
  height: 720px;
  border: 1px solid #ccc;
}

#capture-button {
  display: block;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin: 15px auto;
}
